#input {
   border: 5px solid palevioletred;
   width: 15rem;
   padding: .5rem 0;
}

#title {
   font-size: 2rem;
   font-weight: 600;
   color: palevioletred;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}